
### LASSO Regression - Lasso regression stands for Least Absolute Shrinkage and Selection Operator (L1 - Regularization)
###                  - Adds penalty term to the cost function (absolute sum of coefficients )

### Ridge Regression - Adds penalty term square of the coefficient (L2 - Regularization)
###                  - Adds coefficient lambda to control the penalty term 

### Elastic Net - Combines regularization of both lasso and Ridge. (Combines L1 and L2 regularizations)

#### Reference : http://www.sthda.com/english/articles/37-model-selection-essentials-in-r/153-penalized-regression-essentials-ridge-lasso-elastic-net/#elastic-net

In [11]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, Lasso, RidgeCV,LassoCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

In [17]:
df = pd.read_csv('../../Datasets/Admission_Predict_Ver1.1.csv')

In [18]:
df.shape

(500, 9)

In [20]:
pf = ProfileReport(df)

In [22]:
pf.to_widgets()

Summarize dataset: 100%|██████████| 22/22 [00:05<00:00,  4.00it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.88s/it]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [23]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [25]:
df.drop(columns=['Serial No.'], inplace=True)

In [26]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [31]:
#y = df.columns['Chance of Admit']
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [36]:
#y = df['Chance of Admit']
#x = df.drop(columns = ['Chance of Admit'])