#### Recommender Systems
Measuring User Similarity : Pearson Correlation </br>
Measuring Item Similarity : Cosine Similarity, Adjusted Cosine Similarity </br>

Other recommender systems concepts involve </br>
Association Rule : Used for Market Basket Analysis </br>
    Association Rule Performance Measures: 
        Support: Indicates no. of times X occured / Total no. of transactions</br>
        Confidence: How often items X, Y occured / No. of times X occured </br>
        Lift: No. of times X and Y occured / No. of times X * No. of times Y</br>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [5]:
books = pd.read_csv('/media/kalyan/d/workspace/Datasets/BX-Books.csv', encoding="latin")
#books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('/media/kalyan/d/workspace/Datasets/BX-Users.csv',encoding="latin")
#users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('/media/kalyan/d/workspace/Datasets/BX-Book-Ratings.csv',encoding="latin")
#ratings.columns = ['userID', 'ISBN', 'bookRating']

/home/kalyan/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/kalyan/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
books.shape, users.shape, ratings.shape

((271379, 5), (278859, 3), (1048575, 3))

In [8]:
print(f' Columns for Book : {books.columns}')
print(f' Columns for users : {users.columns}')
print(f' Columns for ratings : {ratings.columns}')

 Columns for Book : Index(['isbn', 'book_title', 'book_author', 'year_of_publication',
       'publisher'],
      dtype='object')
 Columns for users : Index(['user_id', 'Location', 'Age'], dtype='object')
 Columns for ratings : Index(['user_id', 'isbn', 'rating'], dtype='object')

In [14]:
ratings_count = pd.DataFrame(ratings.groupby('isbn').count()['rating'])
ratings_count.sort_values('rating',ascending=False).head()

           rating
isbn
971880107    2264
316666343    1164
385504209     813
312195516     668
60928336      662

In [11]:
books.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [18]:
ratings_count.sort_values('rating',ascending=False).head().index

Index(['971880107', '316666343', '385504209', '312195516', '60928336'], dtype='object', name='isbn')

In [20]:
most_rated_books = pd.DataFrame(['971880107', '316666343', '385504209', '312195516', '60928336'],columns=['isbn'])
most_rated_books

        isbn
0  971880107
1  316666343
2  385504209
3  312195516
4   60928336

In [21]:
most_rated_books = pd.merge(most_rated_books, books, on=['isbn'] )
most_rated_books.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,971880107,Wild Animus,Rich Shapero,2004,Too Far
1,316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2,385504209,The Da Vinci Code,Dan Brown,2003,Doubleday
3,312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
4,60928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial